$editor-background-color: #ddddd0;

$lovely-blue: #00cdcd;
$textarea-color: #555;
$code-color: #062f4f;

$code-font-family: Courier, "Lucida Console", monospace;

$textarea-border: 10px solid #eee;
$textarea-border-transition: border 0.8s;
@mixin set-border($weight,$shape,$color) {
  border: $weight $shape $color;
}
$textarea-border-focus: 10px solid #bbb;

$textarea-box-shadow: 0 0 2px #aaa;

@mixin change-tab-size($size) {
  -moz-tab-size: $size;
  -o-tab-size: $size;
  tab-size: $size;
}
@import "../main.css";

div.editor {
  background-color: $editor-background-color;
  display: flex;
  flex-wrap: wrap;
  textarea {
    flex: 1;
    display: block;
    min-width:15em;
    height: 20em;
    padding: 1.5em 1em;
    font-size: 1.1em;
    text-indent: each-line;
    outline: none;
    border: $textarea-border;
    transition: $textarea-border-transition;
    resize: none;
    overflow-x: auto;
    overflow-y: auto;

    &:focus {
      box-shadow: $textarea-box-shadow;
      border: $textarea-border-focus;
    }

    &.code {
      @include change-tab-size(4);
      white-space: pre-wrap;
      font-family: $code-font-family;
      color: $code-color;
    }
    &:nth-child(1):after {
      content: "HTML";
    }
  }
}
div.viewer {
  height: 20em;
  padding: 1em 1em;
  background-color: white;
  font-size: 1.1em;
  border: $textarea-border;

    &.green {
        @include set-border(10px,solid,#63e072)
    }

  pre {
    display: block;
    white-space: normal;
    word-break: break-all;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
div.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
}