$lovely-blue:#1e90ff;
$deeper-blue:#326ada;
$darkred:#853526;
$lovely-orange:#ffa500;
$mystery-pink: #600d48;
$rice-yellow:#ffeead;

$error-color:$darkred;
$alright-color:$lovely-blue;

$main-font-family: "Lucida Console", monospace, ubuntu, Helvetica, sans-serif;

@mixin set-transition-all($time:0.8s){
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}
@mixin set-box-shadow($place,$hoff,$voff,$weight,$color) {
  -webkit-box-shadow:$place $hoff $voff $weight $color;
  -moz-box-shadow: $place $hoff $voff $weight $color;
  box-shadow: $place $hoff $voff $weight $color;
}

html,body {
  margin: 0 0;
  padding: 0 0;
}
body {
  background: $rice-yellow;
  * {
    border: 0;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    text-underline: none;
    color: black;
    cursor: hand;
  }
  input {
    outline: none;

  }
}

div#headerWrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em;
  text-shadow: 0 0 5px #bbb;

  div.logo {
    text-align: center;
    img {
      height: 100px;
      width:auto;
      margin: -2em;
    }
    h1.brand {
      text-transform: capitalize;
      color: $lovely-blue;
    }
  }
  div.slogan h1{
    color:$lovely-orange;
  }
}
button {
  padding: 0.2em 1em;
  letter-spacing: 0.25em;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.6s;
  color:white;
  background-color: $lovely-orange;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  &:hover {
    -webkit-box-shadow:  0 14px 13px -1px #777;
    -moz-box-shadow:  0 14px 13px -1px #777;
    box-shadow:  0 10px 20px -1px #777;
  }
}
.error {
  color: $error-color;
}
div#onTopNote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 0;
  background-color: $lovely-blue;
  color: whitesmoke;
  box-shadow: 0 5px 10px #aaa;
  display: none;
  z-index: 99;
  &.failure {
    background-color: red;
  }
  &.success {
    background-color: $deeper-blue;
  }
}
nav#onTopNav {
  ul#navMenu {
    list-style: none;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
      transition: color 0.3s ease-in-out, border 0.2s ease-in-out;
      border-bottom: 1.2px $rice-yellow solid;

      &#userConsole {
        position: relative;
        ul {
          position: absolute;
          display: none;
          min-width: 80px;
          right: 0;
          list-style: none;
          text-align: right;
          -webkit-transition: display 1s ease-in;
          -moz-transition: display 1s ease-in;
          -ms-transition: display 1s ease-in;
          -o-transition: display 1s ease-in;
          transition: display 1s ease-in;
          li {
            background: antiquewhite;
            color: #777;
            &:hover {
              background: $lovely-blue;
              color: antiquewhite;
              border: 0;
            }
          }
        }
        &:hover ul{
          display: block;
        }
        &:hover a#navUser {
          color: $lovely-orange;
        }
      }
      a {
        text-decoration: none;
        color: #cccccc;
        font-size: 1em;
        position: relative;
        letter-spacing: 2px;
        &:hover {
          color: $lovely-orange;
          cursor: hand;
        }
      }
      &:hover {
        border-bottom: 1.2px $lovely-orange solid;
      }
    }
  }
}
div#popupWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.60);
  background-repeat: repeat;
  visibility: hidden;
  z-index: 99;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-in;
  -moz-transition: opacity 0.8s ease-in;
  -ms-transition: opacity 0.8s ease-in;
  -o-transition: opacity 0.8s ease-in;
  transition: opacity 0.5s ease-in;
  div#contentWindow {
    position: fixed;
    max-width: 500px;
    height: 500px;
    background: whitesmoke;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #eee;

    div#topController {
      display: flex;
      flex-direction: row;
      font-size: 1.25em;
      flex: 1;
      background: $rice-yellow;
      a {
        color: #776;
      }
      div.titleWrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        letter-spacing: 2px;
      }
      div.toggleWrapper {
        flex: 0;
        a.toggle:hover {
          color: $darkred;
        }
      }

    }
    div#bottomController {
      flex: 1;
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      background: whitesmoke;
      a {
        color: #aaaaaa;
        &:hover {
          color: #666
        }
      }
      div.titleWrapper {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
      }
      div.toggleWrapper {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        a#registerEntry {
          display: block;
        }
      }
    }
    div#formBlock {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div#formContentWrapper {
        input {
          padding: 15px 20px;
          width: 350px;
          color: #777;
          border: 2px solid white;
          font-size: 1.1em;

          &:focus {
            border: 2px solid $lovely-orange;
            box-shadow: 0 0 5px $lovely-orange;
          }
        }
        button {
          display: block;
          margin: 0 auto;
          background: white;
          color: #777;
          border: 5px solid whitesmoke;

          &:hover {
            background: $rice-yellow;
            border: 5px solid $rice-yellow;
            color: #555;
          }
        }
        div.loader {
          width: 38px;
          height: 38px;
          margin: 0 auto;
          margin-top: 1em;
          border: 3px solid whitesmoke;
          bordphper-radius: 50%;
          border-top: 3px solid #777777;
          -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
          display: none;
        }
      }
    }
  }
  &:target {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 10px $deeper-blue;
  }
}
@-webkit-keyframes spin {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}