html, body {
  margin: 0 0;
  padding: 0 0; }

body {
  background: #ffeead; }
  body * {
    border: 0;
    padding: 0;
    margin: 0; }
  body a {
    text-decoration: none;
    text-underline: none;
    color: black;
    cursor: hand; }
  body input {
    outline: none; }

div#headerWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em;
  text-shadow: 0 0 5px #bbb; }
  div#headerWrapper div.logo {
    text-align: center; }
    div#headerWrapper div.logo img {
      height: 100px;
      width: auto;
      margin: -2em; }
    div#headerWrapper div.logo h1.brand {
      text-transform: capitalize;
      color: #1e90ff; }
  div#headerWrapper div.slogan h1 {
    color: #ffa500; }

button {
  padding: 0.2em 1em;
  letter-spacing: 0.25em;
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  -o-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  color: white;
  background-color: #ffa500;
  outline: none;
  cursor: pointer; }
  button:hover {
    -webkit-box-shadow: 0 0px 5px #888;
    -moz-box-shadow: 0 0px 5px #888;
    box-shadow: 0 0px 5px #888; }

.error {
  color: #853526; }

div#onTopNote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 0;
  background-color: #1e90ff;
  color: whitesmoke;
  box-shadow: 0 5px 10px #aaa;
  display: none; }
  div#onTopNote.failure {
    background-color: red; }
  div#onTopNote.success {
    background-color: #326ada; }

nav#onTopNav ul#navMenu {
  list-style: none;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1px; }
  nav#onTopNav ul#navMenu li {
    padding: 0 2.5px;
    transition: color 0.3s ease-in-out, border 0.2s ease-in-out;
    border-bottom: 1.2px #ffeead solid;
    font-weight: bold; }
    nav#onTopNav ul#navMenu li a {
      text-decoration: none;
      color: #cccccc;
      font-size: 1em;
      position: relative;
      letter-spacing: 2px; }
      nav#onTopNav ul#navMenu li a:hover {
        color: #ffa500;
        cursor: hand; }
    nav#onTopNav ul#navMenu li:hover {
      border-bottom: 1.2px #ffa500 solid; }

div#popupWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  background-repeat: repeat;
  visibility: hidden;
  z-index: 99;
  border-radius: 10px; }
  div#popupWrapper div#contentWindow {
    position: fixed;
    width: 500px;
    height: 500px;
    background: whitesmoke;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -250px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px #eee;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out; }
    div#popupWrapper div#contentWindow div#topController {
      display: flex;
      flex-direction: row;
      font-size: 1.25em;
      flex: 1;
      background: #ffeead; }
      div#popupWrapper div#contentWindow div#topController a {
        color: #777; }
      div#popupWrapper div#contentWindow div#topController div.titleWrapper {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        letter-spacing: 2px; }
      div#popupWrapper div#contentWindow div#topController div.toggleWrapper {
        flex: 0; }
        div#popupWrapper div#contentWindow div#topController div.toggleWrapper a.toggle:hover {
          color: #853526; }
    div#popupWrapper div#contentWindow div#bottomController {
      flex: 1;
      display: flex;
      flex-direction: row;
      font-size: 1.2em;
      background: #ffeead; }
      div#popupWrapper div#contentWindow div#bottomController a {
        color: #aaaaaa; }
        div#popupWrapper div#contentWindow div#bottomController a:hover {
          color: #666; }
      div#popupWrapper div#contentWindow div#bottomController div.titleWrapper {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center; }
      div#popupWrapper div#contentWindow div#bottomController div.toggleWrapper {
        flex: 0;
        display: flex;
        flex-direction: row;
        align-items: center; }
        div#popupWrapper div#contentWindow div#bottomController div.toggleWrapper a#registerEntry {
          display: block; }
    div#popupWrapper div#contentWindow div#formBlock {
      flex: 7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      div#popupWrapper div#contentWindow div#formBlock div#formContentWrapper input {
        padding: 15px 20px;
        width: 350px;
        color: #777;
        border: 2px solid white;
        transition: all 0.38s ease-in-out;
        font-size: 1.1em; }
        div#popupWrapper div#contentWindow div#formBlock div#formContentWrapper input:focus {
          border: 2px solid #ffa500;
          box-shadow: 0 0 5px #ffa500; }
      div#popupWrapper div#contentWindow div#formBlock div#formContentWrapper button {
        display: block;
        margin: 0 auto;
        background: white;
        color: #777;
        border: 5px solid whitesmoke; }
        div#popupWrapper div#contentWindow div#formBlock div#formContentWrapper button:hover {
          background: #ffeead;
          border: 5px solid #ffeead;
          color: #555; }
      div#popupWrapper div#contentWindow div#formBlock div#formContentWrapper div.loader {
        width: 38px;
        height: 38px;
        margin: 0 auto;
        margin-top: 1em;
        border: 3px solid whitesmoke;
        border-radius: 50%;
        border-top: 3px solid #777777;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        display: none; }
  div#popupWrapper:target {
    visibility: visible;
    box-shadow: 0 0 10px #326ada; }
    div#popupWrapper:target div#contentWindow {
      opacity: 0.9; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=home.css.map */
