$lovely-blue:#1e90ff;
$deeper-blue:#326ada;
$darkred:#853526;
$lovely-orange:#ffa500;
$mystery-pink: #600d48;
$rice-yellow:#ffeead;

$error-color:$darkred;
$alright-color:$lovely-blue;

$main-font-family: "Lucida Console", monospace, ubuntu, Helvetica, sans-serif;

@mixin set-transition-all($time:0.8s){
  -webkit-transition: all $time;
  -moz-transition: all $time;
  -ms-transition: all $time;
  -o-transition: all $time;
  transition: all $time;
}
@mixin set-box-shadow($place,$hoff,$voff,$weight,$color) {
  -webkit-box-shadow:$place $hoff $voff $weight $color;
  -moz-box-shadow: $place $hoff $voff $weight $color;
  box-shadow: $place $hoff $voff $weight $color;
}

html,body {
  margin: 0 0;
  padding: 0 0;
}
body {
  background: $rice-yellow;
}
body * {
  margin: 0 0;
  padding: 0 0;
}
div#headerWrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em;
  text-shadow: 0 0 5px #bbb;

  div.logo {
    text-align: center;
    img {
      height: 100px;
      width:auto;
      margin: -2em;
    }
    h1.brand {
      text-transform: capitalize;
      color: $lovely-blue;
    }
  }
  div.slogan h1{
    color:$lovely-orange;
  }
}
button {
  font-size: 1.2em;
  padding: 0.5em 4em;
  letter-spacing: 0.25em;
  @include set-transition-all();
  color:white;
  background-color: $lovely-orange;
  outline: none;
  &:hover {
    @include set-box-shadow(null,0,2px,5px,#666);
    border-radius: 15px;
    text-shadow: 0 0 10px #555;
  }
}
.error {
  color: $error-color;
}
div#onTopNote {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 0.5em 0 0.5em 0;
  background-color: $lovely-blue;
  color: whitesmoke;
  box-shadow: 0 5px 10px #aaa;
  display: none;
  &.failure {
    background-color: red;
  }
  &.success {
    background-color: $deeper-blue;
  }
}